.product img{
    height: 280px;
    width: 280px;
}


.btn-cart{
    background-color: #FFE0B3;
    width: 100%;
    position: absolute;
    bottom: 0;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product{
    height: 510px;
    width: 280px;
    border: 2px yellow solid;
    border-radius: 10px;
    position: relative;
}


.product-info{
    padding: 10px;
    line-height: 14px;
}

.btn-cart:hover{
    background-color: orangered;
}

.btn-text{
    margin-right: 8px;
}


